body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 12px;
}

h1, h2 {
	color: #c60;
    border-bottom: 1px dotted #888;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 14px;
}

blockquote {
	font-style: italic;
}
