body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 12px;
}

h1, h2 {
	color: #c60;
    border-bottom: 1px dotted #888;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 14px;
}

blockquote {
	font-style: italic;
}

/*
none 	Default value. Specifies no border 	
hidden 	The same as "none", except in border conflict resolution for table elements 	
dotted 	Specifies a dotted border 	
dashed 	Specifies a dashed border 	
solid 	Specifies a solid border 	
double 	Specifies a double border 	
groove 	Specifies a 3D grooved border. The effect depends on the border-color value 	
ridge 	Specifies a 3D ridged border. The effect depends on the border-color value 	
inset 	Specifies a 3D inset border. The effect depends on the border-color value 	
outset 	Specifies a 3D outset border. The effect depends on the border-color value 	
initial Sets this property to its default value. Read about initial 	
inherit	 Inherits this property from its parent element. Read about inherit
*/